<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>선물하기</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="home-container">
        <h1>관리자 페이지</h1>
        <p class="lead">상품 관리</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/admin/items/new">상품 추가</a>
            <a class="btn btn-lg btn-secondary" href="/admin/items">상품 목록</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>