<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>선물하기</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="home-container">
        <h1>관리자 페이지</h1>
        <div>
            <a class="btn btn-primary" href="/admin/items/create">상품 등록</a>
            <a class="btn btn-primary" href="/admin/items">상품 목록</a>
        </div>
        <a class="btn btn-secondary" href="/" style="margin-top: 20px">홈으로</a>

    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>