<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>선물하기</title>
</head>
<style>
    .fieldError-box{
        border : 1px solid red;
    }
    .fieldError-radio{
        color: red;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="home-container">
        <h1>카테고리 추가 페이지</h1>
        <form th:action method="post" th:object="${categoryDto}">
            <label for="category_id">카테고리:
                <input type="text" id="category_id" name="category"
                       th:class="${#fields.hasErrors('category')} ? 'fieldError-box form-control' : 'form-control'">
            </label>
            <input type="submit" th:value="추가">
            <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
            style="color: red">err Message</p>

        </form>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>