<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header">
  <meta charset="UTF-8">
  <title>선물하기</title>
</head>
<style>
        .fieldError-box{
            border : 1px solid red;
        }
        .fieldError-radio{
            color: red;
        }
    </style>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div class="home-container">
    <h1>상품추가</h1>
    <form th:action th:object="${itemDto}" method="post">
      <div>
        <label>이름:
          <input type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')} ? 'fieldError-box form-control' : 'form-control'">
        </label>
        <br>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red">Incorrect date</p>
        카테고리:
        <select class="form-select" name="category">
          <option th:each="categoryOne: ${categories}" th:text="${categoryOne.getName()}" th:value="${categoryOne.getId()}" th:selected="${categoryOne.getId() == itemDto.getCategory()}">value</option>
        </select>
        <br>
        <label>가격:
          <input type="text" th:field="*{price}" th:class="${#fields.hasErrors('price')} ? 'fieldError-box form-control' : 'form-control'">
        </label>
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red"></p>
        <br>
        <label>재고:
          <input type="text" th:field="*{stockQuantity}" th:class="${#fields.hasErrors('stockQuantity')} ? 'fieldError-box form-control' : 'form-control'">
        </label>
        <p th:if="${#fields.hasErrors('stockQuantity')}" th:errors="*{stockQuantity}" style="color: red"></p>
        <br>
      </div>
      <input type="submit" value="수정"/>
    </form>
    <button th:onclick="|location.href='@{/admin/items}'|">취소</button>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>