<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>선물하기</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="home-container">
        <div>
            <span sec:authorize="isAuthenticated()" sec:authentication="name" style="font-size: 30px"></span>
            <span sec:authorize="isAuthenticated()" style="font-size: 30px">님 안녕하세요?</span>
            <br sec:authorize="isAuthenticated()">
            <h1>누구를 위한 선물인가요?</h1>
        </div>
        <div style="margin: 20px 0px">
            <a href="/members" class="btn-lg btn-info" style="margin: 20px 0">회원 목록</a>
        </div>
        <div style="width:400px; margin:auto;">
            <h2>카테고리</h2>
            <ul class="list-group">
                <li th:each="category: ${categories}" class="list-group-item d-flex justify-content-between align-items-center">
                    <a th:href="@{/categories/{categoryId}(categoryId=${category.id})}"
                       th:text="${category.name}"></a>
                    <span class="badge bg-primary rounded-pill" th:text="${category.items.size()}"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a th:href="@{/categories/0}">기타</a>
                    <span class="badge bg-primary rounded-pill" th:text="${etcCount}"></span>
                </li>
            </ul>
        </div>
        <div style="margin: 10px 0">
            <a class="btn btn-primary" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
            <a class="btn btn-primary" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
            <a class="btn btn-primary" sec:authorize="isAnonymous()" th:href="@{/signup}">회원가입</a>
            <a class="btn btn-primary" sec:authorize="isAuthenticated()" th:href="@{/user}">내 정보</a>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>