.container{
    margin:auto;
}
.home-container{
    text-align: center;
}
.line{
    width: 100%;
    height : 1px;
    background-color: black;
    margin: 10px 0;
}
.input-block{
    width: 200px;
    margin:auto;
}
.form-check{
    width: 120px;
    margin: auto;
}

/* create member form*/
.subtitle{
    margin-top : 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.member-name-form{
    width: 300px;
    margin: auto;
}

.member-text-form{
    width: 300px;
    margin: auto;
}

.list:hover{
    cursor: pointer;
    background-color: beige;
}

.categories{
    margin:auto;
    background-color: yellow;
}
.category{
    margin: 0 10px;
}

myModal.in{
    z-index: 999999;
}
.list-item:hover{
    background-color: beige;
}
.signup-text{
    margin: 10px 0;
    color: midnightblue;
}
.fieldError{
    border : 1px solid red;
}