<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>선물하기</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="home-container">
        <h1>회원목록</h1>
        <table class="table table-bordered">
            <tr>
                <th>id</th>
                <th>이름</th>
                <th>성별</th>
                <th>생일</th>
                <th>상태메시지</th>
                <th>선물받은 수</th>
            </tr>
            <tr th:each="member : ${members}">
                <td class="list" th:text="${member.id}" style="color: blue"
                    th:onclick="|location.href='@{members/{memberId}/edit(memberId=${member.id})}'|"></td>
                <td class="list" th:text="${member.name}" style="color: blue"
                    th:onclick="|location.href='@{members/{memberId}/edit(memberId=${member.id})}'|"></td>
                <td th:text="${member.sex}"></td>
                <td th:text="${member.birthDate}"></td>
                <td th:text="${member.message}"></td>
                <td th:text="${member.gifts.size()}"></td>
                <td class="btn btn-lg" th:text="회원삭제" th:onclick="|location.href='@{members/{memberId}/delete(memberId=${member.id})}'|"></td>
            </tr>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>