<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>선물하기</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="home-container">
        <h1>내 정보</h1>
        <a href="/user/info" class="btn-lg btn-primary">내 정보</a>
        <a href="/user/edit" class="btn-lg btn-primary">정보 수정</a>
        <a href="/user/delete" class="btn-lg btn-danger">회원 탈퇴</a>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>