<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>선물하기</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="home-container">
        <h1 th:text="${name}">category name</h1>
        <ul class="list-group">
            <a class="list-group-item list-item"
               th:each="item : ${items}" th:text="${item.getName()}"
               th:href="@{/gift/items/{itemId}(itemId=${item.getId()})}"
               style="cursor:pointer">item name</a>
        </ul>

    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>