<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
  <meta charset="UTF-8">
  <title>선물하기</title>
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div class="home-container">
    <h1>선물정보</h1>
    <div>
      <table class="table table-hover">
        <thead>
          <tr class="table-dark">
            <th>id</th>
            <th>상품 이름</th>
            <th>가격</th>
            <th>개수</th>
            <th>카테고리</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="giftItem: ${giftItems}" style="cursor: pointer">
            <td th:text="${giftItem.id}">id</td>
            <td th:text="${giftItem.item.name}">name</td>
            <td th:text="${giftItem.price}">price</td>
            <td th:text="${giftItem.count}">count</td>
            <td th:if="${giftItem.item.category != null}" th:text="${giftItem.item.category.name}">category_name</td>
            <td th:unless="${giftItem.item.category != null}">기타</td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-secondary" href="/gift/gift-box">뒤로가기</a>
    </div>

  </div>
  <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>