<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>선물하기</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="home-container">
        <h1>누구에게 마음을 전할래요?</h1>
        <p class="lead">카테고리</p>
        <div class="categories">
            <a class="btn btn-secondary category" th:each="category: ${categories}"
               th:text="${category.getName()}"
               th:href="@{|gift/category/${category.getId()}|}"></a>
        </div>
        <p class="lead">선물 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/gift">나의 장바구니</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>